body{
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    width: 600px;
    height: auto;
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border: 0;
    border-radius: 3px;
}

.subject{
    padding: 12px;
    height: 200px;
    width: 90%;
    border: 1px solid grey;
    border-radius: 4px;
    border-color: rgb(155, 155, 155);
    margin-bottom: 15px;
}
.submit{
    background-color: rgb(0, 179, 89);
    color: white;
    padding: 13px 22px;
    border: 0;
    border-radius: 5px;
}
form h3{
    margin-top: 0;
    margin-bottom: 5px;
}
form input{
    width: 90%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
    border-color: rgb(155, 155, 155);
}