.Image{
    position: absolute;
}
div p {
    position: absolute;
    margin: 0;
    font-weight:bold;
}
.TopLeft{
    top: 5px;
    left: 17px;
}
.TopRight{
    top: 5px;
    right: 17px;
}
.Center{
    top: 50%;
    width: 100%;
    text-align: center;
}
.BottomLeft{
    bottom: 5px;
    left: 17px;
}
.BottomRight{
    bottom: 5px;
    right: 17px;
}