
.con{
    width: 200px;
}
.home{
    background-color: rgb(0, 153, 77);
}
.h{
    color:white;
}
.link1{
    background-color: rgb(211, 211, 211);
}
.link2{
    background-color: rgb(211, 211, 211);
}
.link3{
    background-color: rgb(211, 211, 211);
}
.link4{
    background-color: rgb(211, 211, 211);
}
div div{
    padding: 15px 15px;
}
div a{
    text-decoration: none;
    color: black;
    font-size: large;
}